[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "external/vma"]
	path = external/vma
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp
